/* Features */

.features {
  @include vendor("display", "flex");
  @include vendor("flex-wrap", "wrap");
  @include vendor("justify-content", "flex-start");
  width: calc(100% + #{_size(element-margin)});
  margin: 0 0 (_size(element-margin) * 1.5) (_size(element-margin) * -1);
  padding: 0;
  list-style: none;

  li {
    @include vendor("display", "flex");
    flex-flow: column nowrap;
    background-color: transparentize(_palette(bg), 0.95);
    width: calc(#{(100% / 4)} - #{_size(element-margin) / 2});
    margin-left: _size(element-margin) / 2;
    margin-bottom: _size(element-margin);
    padding: 0;

    img {
      width: 100%;
    }

    h3 {
      font-weight: _font(weight-bold) * 2;
    }

    p {
      text-align: start;
      margin-top: auto;
    }

    .button {
      margin-top: auto;
    }
  }

  @include breakpoint("<=medium") {
    li {
      width: calc(#{(100% / 2)} - #{_size(element-margin)});
    }
  }

  @include breakpoint("<=small") {
    width: 100%;
    margin: 0 0 _size(element-margin) 0;

    li {
      width: 100%;
      margin-left: 0;
      margin-top: _size(element-margin);
    }
  }
}
