/* Header */

#header {
  @include padding(5em, 5em, (0, 0, -2em, 0));
  text-align: center;

  h1 {
    margin: 0 0 (_size(element-margin) * 0.125) 0;
    font-family: _font(header-title);
  }

  p {
    font-size: 1.25em;
    letter-spacing: _font(letter-spacing);
  }

  .description {
    font-size: 1.25em;
    letter-spacing: _font(letter-spacing);

    .notebooks {
      border-bottom: 1px dotted _palette(accent);
    }

    .computer-vision {
      font-weight: _font(weight-extra-bold);
    }
  }

  .signature {
    transition: _duration(transition-hover);
    color: transparentize(_palette(fg), 0.1);
    font-style: italic;
    font-weight: 100;
    font-size: 1.1em;
    letter-spacing: _font(letter-spacing);

    .name {
      font-weight: _font(weight-extra-bold);
      border-bottom: none;
    }

    .name:hover {
      transition: _duration(transition-hover);
      color: _palette(accent);
    }

    &:before,
    &:after {
      content: "~";
      margin: 5px;
    }
  }

  &.alt {
    @include padding(6em, 5em, (1em, 0, 0, 0));

    h1 {
      font-size: 3.25em;
    }

    > * {
      @include vendor("transition", "opacity 3s ease");
      @include vendor("transition-delay", "0.5s");
      opacity: 1;
    }

    .logo {
      @include vendor(
        "transition",
        ("opacity 1.25s ease", "transform 0.5s ease")
      );
      @include vendor("transition-delay", "0s");
      display: block;
      margin: 0 0 (_size(element-margin) * 0.75) 0;

      img {
        display: block;
        margin: 0 auto;
        max-width: 75%;
      }
    }
  }

  @include breakpoint("<=large") {
    @include padding(4em, 4em, (0, 0, -2em, 0));

    &.alt {
      @include padding(5em, 4em, (1em, 0, 0, 0));
    }
  }

  @include breakpoint("<=medium") {
    @include padding(4em, 3em, (0, 0, -2em, 0));

    &.alt {
      @include padding(4em, 3em, (1em, 0, 0, 0));
    }
  }

  @include breakpoint("<=small") {
    @include padding(3em, 2em, (0, 0, -1em, 0));

    p {
      font-size: 1em;
      letter-spacing: 0;

      br {
        display: none;
      }
    }

    &.alt {
      @include padding(3em, 2em, (1em, 0, 0, 0));

      h1 {
        font-size: 2.5em;
      }
    }
  }

  @include breakpoint("<=xsmall") {
    @include padding(3em, 1.5em, (0, 0, -1em, 0));

    &.alt {
      @include padding(3em, 1.5em, (1em, 0, 0, 0));
    }
  }

  @include breakpoint("<=xxsmall") {
    @include padding(2.5em, 1em, (0, 0, -1em, 0));

    &.alt {
      @include padding(2.5em, 1em, (1em, 0, 0, 0));
    }
  }

  body.is-preload & {
    &.alt {
      > * {
        opacity: 0;
      }

      .logo {
        @include vendor("transform", "scale(0.8) rotate(-30deg)");
      }
    }
  }
}
